<div class="card-project" style= " background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_url('templates/' + card.template) %>);">
  <% contributions.each do |contribution| %>
    <div class="contribution-mini-card" style= "transform: translateY(<%= rand(100) %>px) rotateZ(<%= rand(-1..1)*10 %>deg);">
      <p><%= contribution.content %></p>
      <strong><%= contribution.contributor_name %></strong>
    </div>
  <% end %>
</div>