<!-- 'templates/' + card.template -->
<% if card.template.blank? %>
  <div class="card-project" id = "card-project" style= "background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_url('cardproject.jpg') %>);">
  <% else %>
    <div class="card-project" id = "card-project" style= "background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(<%= image_url('templates/' + card.template)%>);">
    <% end %>
    <!-- polaroids on the left side -->
    <div class="card-left">
      <% (0..3).each do |i| %>
        <% contribution = @curated_contributions[i] %>
        <% if contribution %>
          <%=render 'cards/partials/contributions_column', contribution: contribution %>
        <% end %>
      <% end %>
    </div>
    <div class="card-center">
      <h3><%= card.title %></h3>
      <% if card.photo.attached? %>
        <%= cl_image_tag card.photo.key, width: 400, crop: :fill %>
      <% end %>
    </div>
    <!-- polaroids on the right side -->
    <div class="card-right">
      <% (4..7).each do |i| %>
        <% contribution = @curated_contributions[i] %>
        <% if contribution %>
          <%=render 'cards/partials/contributions_column', contribution: contribution %>
        <% end %>
      <% end %>
    </div>
  </div>