<div class="container mb-3 p-3 bg-primary">
  <%= simple_form_for([@card, @contribution], remote: true) do |f| %>
    <%= f.input :contributor_name, label: 'Your name please' %>
    <%= f.input :content, as: :text, label: 'Write a nice message', placeholder: @card.description %>
    <%if user_signed_in? && current_user == @card.user %>
      <%= f.button :submit, class: 'btn btn-success'%>
    <% else %>
      <%= f.button :submit, class: 'btn btn-success', id: 'sweet-alert-success'%>
    <% end %>
  <% end %>
</div>