<div class="container mb-3 p-3 d-flex justify-content-center">
  <div class= "bg-light shadow p-2" style= "width:50%; position:relative;">
    <%= simple_form_for([@card, @contribution], remote: true) do |f| %>
      <!-- fake polaroid  -->
      <div class="rounded mb-2 d-flex justify-content-center align-items-center position-relative" style="background-color: rgba(0,0,0,0.8); height:40vh">
        <h5 class="text-light text-center">
          <%=@card.description%>
        </h5>
        <!-- photo preview -->
        <%= f.input :photo, input_html: { class: 'd-none', id: 'upload-photo' }, label_html: { class: 'upload-photo-polaroid text-light'}, label: ('<i class="fas fa-camera"></i>').html_safe%>
        <%= image_tag "", width: 100, class: "hidden", id: "photo-preview", style: "top: 25%; left: 50%" %>
      </div>
      <%= f.input :content, as: :text, label: 'Write a nice message', placeholder: "Dear #{@card.recipient}" %>
      <%= f.input :contributor_name, label: 'Your name please' %>
      <%if user_signed_in? && current_user == @card.user %>
        <%= f.button :submit, class: 'btn-success btn-block'%>
      <% else %>
        <%= f.input :contributor_email, label: 'Do you wanna receive the final card?', placeholder: 'Enter your email'%>
        <%= f.button :submit, "Send your contribution", class: 'btn-success btn-block', id:'sweet-alert-contribution'%>
      <% end %>
    <% end %>
  </div>
</div>