<div class="container">
  <div class="display-flex mt5">
    <%= simple_form_for(@card) do |f| %>
      <%= f.input :title %>
      <%= f.input :template, as: :hidden %>
      <%= render "cards/partials/card_templates", f: f %>
      <%= f.label :songs %>
      <%=render 'cards/partials/song_selection', f: f, collection: Card::SONGS  %>
      <%= f.button :submit, "Create your card", class: "btn-primary mt-2 btn-block heavy-upload" %>
    <% end %>
  </div>
</div>