<div class="container bg-success mb-5" >
  <div class="d-flex justify-content-between">
    <h2 class= "text-primary"><%= pluralize(@contributions.count, 'contribution') %></h2>
    <!-- The text field -->
    <div class = "d-flex">
      <input type="text" value='<%= request.original_url%>' id="myInput" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      <!-- The button used to copy the text -->
      <button onclick="myFunction()" class="btn btn-sm btn-primary mr-1">share</button>
      <!-- social share buttons -->
      <%= social_share_button_tag(@card.title, url: request.original_url, desc: @card.description) %>
    </div>
  </div>
  <br>
  <!-- glide.js contribution card carousel -->
  <%= render 'cards/partials/cards_carousel' if @contributions.any? %>
  <!-- card project -->
  <%= render 'cards/partials/card_project_body' %>
  <!-- card project footer -->
  <%= render 'cards/partials/card_project_footer' %>
</div>