<div class="container bg-success mb-5" >
  <div class="d-flex justify-content-between">
    <h2 class= "text-primary"><%= pluralize(contributions.count, 'contribution') %></h2>
    <div class = "d-flex">
      <!-- to share the link to enable other people to contribute to the card -->
      <%= render 'cards/partials/btn_share_link' %>
    </div>
  </div>
  <br>
  <!-- glide.js contribution card carousel -->
  <%= render 'cards/partials/cards_carousel' if contributions.any? %>
  <!-- card project -->
  <%= render 'cards/partials/card_project_body', card: card, contributions: contributions %>
  <!-- buttons to turn the pages -->
  <%= render 'cards/partials/pages_buttons', left_page: card_path(@card, page: @page - 1, anchor: "card-project"),
  right_page: card_path(@card, page: @page + 1, anchor: "card-project") %>
  <!-- card project footer -->
  <%= render 'cards/partials/card_project_footer' %>
</div>