<div class="song_container">
  <% Card::SONGS.each do |key, value|  %>
    <div class="d-flex flex-column mr-2">
      <iframe src=<%="https://open.spotify.com/embed/track/#{value}"%> width="80" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <div>
        <input class="form-check-input radio_buttons optional" style="margin-left: 0" type="radio" value="<%= value %>" name="card[song_id]" id="card_song_id_<%= value %>">
        <label class="form-check-label collection_radio_buttons" style="margin-left: 15px; font-size: 12px" for="card_song_id_<%= value %>"><%= key %></label>
      </div>
    </div>
  <% end %>
</div>