<div class="banner-container">
  <div class="banner-content banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_path "Slider1.jpg" %>)">
    <h1>Never miss a moment</h1>
    <p>Share your card with your friends and family</p>
    <%= link_to 'Create a new card', new_card_path(@card), :class => "btn btn-success" %>
  </div>
  <div class="banner-content" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_path "Slider2.jpg" %>)">
    <h1>Never miss a moment</h1>
    <p>Share your card with your friends and family</p>
    <%= link_to 'Create a new card', new_card_path(@card), :class => "btn btn-success" %>
  </div>
  <div class="banner-content" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_path "Slider3.jpg" %>)">
    <h1>Never miss a moment</h1>
    <p>Share your card with your friends and family</p>
    <%= link_to 'Create a new card', new_card_path(@card), :class => "btn btn-success" %>
  </div>
</div>
<div class="instructions">
  <h2>HOW IT WORKS</h2>
</div>
<div class="steps">
  <div class="step">
    <%= image_tag "create.png", alt: "alttext" %>
    <h4>CREATE</h4>
    <p>Add some info to your card add a title <br>
      and upload a photo of the receiver</p>
  </div>
  <div class="step">
    <%= image_tag "add.png", alt: "alttext" %>
    <h4>ADD</h4>
    <p>Invite people to add content to your card <br>
      ex. messages, photos and videos</p>
  </div>
  <div class="step">
    <%= image_tag "send.png", alt: "alttext" %>
    <h4>SEND</h4>
    <p>Finalize your and <br>
      send your card</p>
  </div>
</div>
<div class="testimonials">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="testimonial">
          <p id="stars">⭐️⭐️⭐️⭐️⭐️</p>
          <p><em>"Greeter was really easy and fun to use!"</em></p>
          <p><em>-Jeniffer Lopez</em></p>
        </div>
        <!-- <img class="d-block w-100" src="..." alt="First slide"> -->
      </div>
      <div class="carousel-item">
        <div class="testimonial">
          <p id="stars">⭐️⭐️⭐️⭐️⭐️</p>
          <p><em>"I love greeter ❤️"</em></p>
          <p><em>-Shakira</em></p>
        </div>
        <!-- <img class="d-block w-100" src="..." alt="Second slide"> -->
      </div>
      <div class="carousel-item">
        <div class="testimonial">
          <p id="stars">⭐️⭐️⭐️⭐️⭐️</p>
          <p><em>"Greeter rocks!"</em></p>
          <p><em>-Beyonce</em></p>
        </div>
        <!--  <img class="d-block w-100" src="..." alt="Third slide"> -->
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="idea-title">
  <h2>Let's give you some ideas</h2>
</div>
<div class="ideas-cards">
  <div class="idea-card">
    <%= image_tag "templates/bday2.jpg", alt: "alttext", class: "idea-image" %>
    <h5>Birthday</h5>
  </div>
  <div class="idea-card">
    <%= image_tag "templates/wedding1", alt: "alttext", class: "idea-image"%>
    <h5>Wedding</h5>
  </div>
  <div class="idea-card">
    <%= image_tag "templates/christmas2.jpg", alt: "alttext", class: "idea-image"%>
    <h5>Christmas</h5>
  </div>
</div>