<!-- main info about the card -->
<!-- manager, title, date, description -->
<p>card created by <%= @card.user.email %></p>
<h1><%= @card.title %>, <small><%= @card.event_date%></small></h1>
<p>description: <%= @card.description %></p>
<br>
<%= link_to "edit", edit_card_path(@card) %>
<hr>
<!-- Manager contribution displayed here or the form to add contribution-->
<% if @manager_contribution.nil?  %>
  <%= render "cards/partials/contribution_form"  %>
<% else %>
  <%= render "cards/partials/manager_contribution" %>
<% end %>
<hr>
<!-- rendering list of contributions for the manager or the contributions form for the contributors -->
<% if user_signed_in? && current_user == @card.user %>
  <%= render "cards/partials/show_all" %>
<% else %>
  <%= render "cards/partials/contribution_form" %>
<% end %>