<!-- main info about the card -->
<!-- manager, title, date, description -->
<p>card created by <%= @card.user.email %></p>
<div class="container">
  <h1><%= @card.title %>, <small><%= @card.event_date%></small></h1>
  <p>description: <%= @card.description %></p>
  <% if user_signed_in? && current_user == @card.user %>
    <%= link_to edit_card_path(@card), class: 'btn btn-sm btn-succes align-items-center' do %>
      <i class="far fa-edit"></i>
    <% end %>
  <% end %>
  <br>
  <hr>
</div>
<!-- Manager contribution displayed here or the form to add contribution-->
<% if user_signed_in? && current_user == @card.user %>
  <% if @manager_contribution.nil?  %>
    <%= render "cards/partials/contribution_form"  %>
  <% else %>
    <%= render "cards/partials/manager_contribution" %>
  <% end %>
<% end %>
<!-- rendering list of contributions for the manager or the contributions form for the contributors -->
<% if user_signed_in? && current_user == @card.user %>
  <%= render "cards/partials/show_all" %>
<% else %>
  <%= render "cards/partials/contribution_form" %>
<% end %>